@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: #FFFFFF;
    --sidebar-foreground: #212121;
    --main-background: #FFFFFF;
    --main-foreground: #212121;
    --divider: #E0E0E0;
  }

  html[data-theme="dark"] {
    --sidebar-background: #24272E;
    --sidebar-foreground: #C4CBDA;
    --main-background: #1F2228;
    --main-foreground: #C4CBDA;
    --divider: #3C3C4A;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}